*{
    margin: 0%;
    padding-left: 0%;
}
/* body{
     background-image: url(login.jpg);
    background-size: cover;
} */
.mdiv{
    height: 100vh;
    width: 100vw;
    /* position: fixed; */
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url(https://cdn.pixabay.com/photo/2013/09/23/03/05/high-tech-185146_1280.jpg);
    background-size: cover;
}

.lgn{
   
    box-shadow: 10px 10px 100px rgb(227, 228, 228);
    height: 300px;
    margin-right: 450px;
    width: 250px;
    padding: 10px;
    border: 0.5px solid rgb(136, 136, 136);
    font-size: 20px;
    font-family: sans-serif;
}

.lgn:hover{
  border-radius: 25px 2px 25px 2px; 
  transition-duration: 1s;
  border: 2px solid white;

}
#btn1:hover{
        background-color: black;
        /* text-transform: lowercase; */
}
.h1{
    font-size: 35px; 
    font-family:Latin;
    font-weight:900;
    text-shadow: 0px 0px 9px rgb(255, 255, 255);
    color: rgb(8, 11, 165);
    margin-bottom: 20px;
}
/* .lgn,#hid:hover{
    text-shadow: 0px 0px 7px white;
} */
input{
    width: 80%;
    height: 23px;
    margin: 7px;
}
.fld{
    font-weight: bolder;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 0px;
    border: none;
    border-bottom: 2px solid rgb(80, 77, 79);
    margin: 10px;
}
.fld:hover{
    border-bottom: 2px solid white;
}
.fld:focus{
    outline: none;
}
input{
    background-color: transparent;
    color: rgb(0, 17, 255);
    font-size:large;
}
input[type="submit"]
{
    background-color: rgb(65, 188, 225);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
    height: 30px;
    color: azure;
    font-weight: bolder;
    font-size: 20px;
}
input[type="submit"]:hover{
    transform: scale(1.1);
    transition-duration: 1s;
    box-shadow: 0px 0px 10px lightgrey;
}
.lnk{
    text-align: left;
    padding-left: 20px;
    margin: 0px;
}
a{
   
    text-decoration: none;
    color: rgb(3, 13, 151);
    font-variant: small-caps;
    font-size: 14px;
    font-weight: bolder;
    justify-content: center;
}
a:hover{
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

